/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    color: white;
}

/*Zmiana fontu*/
body {
    font-family: 'Roboto', sans-serif;
}

/*Usunięcie niebieskich odnośników */
a {
    text-decoration: none;
    color: #ffc107;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content {
    flex: 1;
}

.logo,
#toggle-icon {
    color: #ffc107;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Elemnty menu domyśle ukryte*/
.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}

/* Po wciśnięciu przycisku elementy będą widoczne*/
.expanded > .menu-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

/*Responsive*/
@media only screen and (min-width: 992px) {
    /*Na ekranie powyżej 992px ukrywamy przycisk do rozwijania menu*/
    .menu-toggle {
        display: none;
    }
    /*Elementy menu nie powinny już zajmować całej szerokości, tylko być obok siebie*/
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }
    /*Kontener z logo powinien być rozciągnięty, a nawigacja po prawej stronie*/
    .menu-logo-container {
        flex: 1;
    }

    /*Na dużym ekranie ograniczamy szerokość do 960px*/
    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }
}

/* Jumbotron zdjęcie */
.jumbotron {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* ważne - rozciąga obrazek proporcjonalnie */
    min-height: 15vh; /* minimum pełna wysokość widoku przeglądarki */
    padding: 2rem;
    text-align: center;
    color: white; /* tekst kontrastowy */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
}

.jumbotron-description {
    font-size: 1.2rem;
}

/* Listing */
/* Nagłówek */
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}

.movie-list {
    list-style-type: none;
}

.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}

.movie-list-item-poster {
    display: block;
    max-width: 200px;
}

/*Karta filmu*/
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}

/*Usunięcie dekoracji elementów listy (kropki na początku)*/
.movie-list {
    list-style-type: none;
}

/*Margines i ramka wokół pojedynczego filmu*/
.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}

/*Plakat - usuniecie paddingu*/
.movie-list-item-poster {
    display: block;
    max-width: 200px;
}

/*Karta filmu*/
.movie-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.movie-list-item-content > * {
    margin: 8px 0;
}

.movie-list-item-title {
    font-size: 1.6rem;
}

.movie-list-item-rating {
    font-size: 1.6rem;
}

/*Movie.html*/
/*Informacje o filmie w jednym rzędzie z odstępem od jumbotrona*/
.movie-summary {
    display: flex;
    margin-top: 16px;
}

/*Mniejsza okładka na małych ekranach*/
.movie-summary-cover {
    object-fit: contain;
    max-width: 200px;
}

/*Odstęp informacji o filmie od okładki*/
.movie-summary-info {
    margin-left: 16px;
}

/*Oryginalny tytuł w kolorze szarym i odstęp pod nim*/
.movie-summary-original-title {
    color: #9e9e9e;
    margin-bottom: 16px;
}

/*Odstępy między poszczególnymi informacjami*/
.movie-summary-item {
    margin: 8px 0;
}

/*Większy tytuł filmu*/
.movie-summary-title {
    font-size: 2rem;
}

/* Wyśrodkowanie głosowania */
.movie-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    text-align: center;
}

/* Styl dla podtytułów */
.rating-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #444;
}

/* Powiększenie i wyśrodkowanie średniej oceny */
.movie-rating-value {
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 0;
}

/* Stylizacja oceny IMDb */
.imdb-rating .movie-rating-value {
    color: #E5A00D; /* Kolor IMDb */
}

/* Styl dla przycisków z ocenami */
.movie-rating-button {
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
}

/* Usunięcie przezroczystości po najechaniu na przycisk */
.movie-rating-button:hover {
    opacity: 1;
}

/* Odstępy między elementami */
.movie-rating-container > * {
    margin: 12px 0;
}

.imdb-rating {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.imdb-rating .movie-rating-value {
    border-radius: 5px;
    font-size: 1.4rem;
    color: #555;
}

.imdb-rating .movie-rating-value.imdb {
    color: #ffca28; /* Złota barwa dla oceny IMDb */
}



/*Ramka dla boxu z głosowaniem*/
.movie-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}

/*Odstęp pod nagłówkami sekcji*/
.movie-section-heading {
    margin-bottom: 8px;
}

/*Wyśrodkowanie trailera*/
.movie-trailer {
    display: block;
    margin: auto;
}

/* Responsice movie */
@media only screen and (min-width: 992px) {
    .movie {
        display: flex;
        justify-content: space-between;
    }

    .movie-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }

    .movie-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }
}

/* error */
.error-container {
    margin: 32px auto;
}

.error-container > * {
    display: block;
    text-align: center;
}

.error-header,
.error-icon {
    font-size: 2rem;
    margin: 16px 0;
}

/* Gatunki Filmowe */
.list-border {
    margin: auto;
    list-style: none;
}

.list-border > li {
    font-size: 1.2rem;
    border: 1px #6d6d6d solid;
    padding: 16px;
    text-align: center;
}

/*textarea domyślnie nie dziedziczy czcionki z body*/
textarea {
    font-family: inherit;
}

/*etykiety i inputy jeden pod drugim z odstępami po bokach*/
.mc-form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

/*odstępy między etykietami i inputami*/
.mc-form > * {
    margin-top: 8px;
}

/*większe inputy z paddingami*/
.mc-form > input,
.mc-form > textarea,
.mc-form > button,
.mc-form > select { /*dodany selektor*/
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}

/*Większy checkbox*/
.mc-form > input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 5px;
}

/*Biały kolor tekstu przy wyborze pliku*/
.mc-form > input[type=file] {
    color: white;
}

/*Notification */
.notification-bar {
    text-align: center;
    background-color: #ffc107;
    padding: 8px 0;
}

/*Tekst nad formularzem*/
.mc-form-message {
    color: #ffc107;
    text-align: center;
}

.registration-link {
    text-align: center;
    margin-top: 32px;
}

/* Panigrancja */
/* Styl kontenera paginacji */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

/* Styl dla listy paginacji */
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Styl dla pojedynczego elementu nawigacji (strona) */
ul.pagination li {
    display: inline;
}

/* Styl dla linku paginacji */
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: background-color .3s;
}

/* Styl dla pierwszego i ostatniego elementu paginacji */
.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Styl dla aktywnej strony */
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

/* Styl dla linków, które nie są aktywne */
ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

/* Styl dla linków paginacji, które są włączone */
ul.pagination li a {
    cursor: pointer;
}

/* Styl dla przycisków paginacji (Poprzednia, Następna) */
.pagination li a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li a:hover {
    background-color: #ddd;
}

.pagination .page-item.active .page-link {
    background-color: #ffc107; /* Kolor tła dla aktywnej strony */
    color: white; /* Kolor tekstu dla aktywnej strony */
}

/* Styl dla kontenera wyszukiwania */
.search-container {
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: width 0.3s ease, background-color 0.3s ease;
    position: relative; /* Konieczne do kontrolowania elementów wewnętrznych */
    border: 1px solid #ccc;
    width: auto;
}

/* Ikona lupy */
.search-container .search-icon {
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.search-icon {
    background: none;
    border: none;
}

/* Input pola wyszukiwania */
.input-bar {
    width: 150px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #333;
    padding: 5px;
    transition: width 0.3s ease;
}

.input-bar::placeholder {
    color: #888;
}

/* Dla małych ekranów */
@media (max-width: 768px) {
    .input-bar {
        display: none; /* Ukryj pole tekstowe domyślnie */
    }

    .search-container.expanded .input-bar {
        display: block;
        width: 150px; /* Ustaw szerokość, kiedy pole jest rozwinięte */
    }

    .search-container.expanded .search-icon {
        color: orangered;
    }
}

/* Efekt hover na ikonie */
.search-container:hover .search-icon {
    color: orangered;
    transform: scale(1.1);
}

/* Styl na aktywny stan wyszukiwania */
.search-container.expanded {
    background-color: #f9f9f9;
    border-color: orangered;
}

/* Efekt hover na kontenerze */
.search-container:hover {
    border-color: #999;
}

/* Animacja rozwijania dla inputa */
.search-container.expanded .input-bar {
    width: 150px;
}



